<div class>
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                <h1>Test subject</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class = "col-xs-12">
            <div class="container">
                <h3>Name: {{this.loadedSubject.name}}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class = "col-xs-12">
            <div class="container">
                <h3>Surname: {{this.loadedSubject.surname}}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class = "col-xs-12">
            <div class="container">
                <h3>Date: {{this.loadedSubject.entryTime | customDate}}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class = "col-xs-12">
            <div class="container">
                <h3>Comment: {{this.loadedSubject.comment}}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class = "col-xs-12">
            <div class="container">
                <h3>Study:{{this.loadedSubject.study.name}}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class = "col-xs-12">
            <div class="container">
                <h3>Group: {{this.loadedSubject.group.name}}</h3>
            </div>
        </div>
    </div>
</div>