<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                <h1>Test subject</h1>
            </div>
        </div>
    </div>
    <div *ngIf="(loadedSubject$ | async) as loadedSubject">
        <div class="row">
            <div class="col-xs-12">
                <div class="container">
                    <h3>Name: {{loadedSubject.name}}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="container">
                    <h3>Surname: {{loadedSubject.surname}}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="container">
                    <h3>Date: {{loadedSubject.entryTime | customDate}}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="container">
                    <h3>Comment: {{loadedSubject.comment}}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="container">
                    <h3>Study:{{loadedSubject.study.name}}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="container">
                    <h3>Group: {{loadedSubject.group.name}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>