<mat-toolbar color="primary">
  <span class="text-center">{{ loadedGroup.name }} </span>
  <span class="filler"></span>
  <button
    mat-button
    aria-label="Add test subject button"
    (click)="openAddTestSubjectDialog()"
  >
    Add test subject
  </button>
  <button mat-button [matMenuTriggerFor]="Menu">More...</button>
  <mat-menu #Menu="matMenu" yPosition="below">
    <button mat-menu-item (click)="openEditGroupDialog()">
      Edit group
    </button>
    <button mat-menu-item (click)="openDeleteGroupDialog()">
      Delete group
    </button>
  </mat-menu>
</mat-toolbar>
<div class="container" style="padding:2%;">
  <mat-nav-list>
    <ng-container *ngFor="let subject of loadedGroup.testSubjects">
      <mat-list-item>
        <a
          matLine
          routerLink="/testsubjects/{{ subject.id }}/groups/{{
            loadedGroup.id
          }}"
          >{{ subject.name }} {{ subject.surname }}</a
        >
        <button mat-icon-button (click)="onRemove(subject.id)">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-nav-list>
</div>
