<h1 style="text-align: center;" mat-dialog-title>{{ modalData.title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="dialogForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
      <mat-error>
        Please enter test subject's name
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surname" required />
      <mat-error>
        Please enter test subject's name
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="myDatepicker"
        formControlName="entryTime"
        id="entryTime"
        class="form-controls"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="myDatepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <label for="comment">Comment</label>
      <textarea
        matInput
        class="form-control"
        id="comment"
        formControlName="comment"
        rows="3"
      ></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions style="justify-content: center;">
  <ng-container *ngIf="this.modalData.editTestSubject">
    <button
      mat-raised-button
      type="submit"
      color="primary"
      (click)="onSubmit(dialogForm.value)"
      [disabled]="dialogForm.invalid || dialogForm.untouched"
    >
      Save
    </button>
  </ng-container>
  <ng-container *ngIf="!this.modalData.editTestSubject">
    <button
      mat-raised-button
      type="submit"
      color="primary"
      (click)="onSubmit(dialogForm.value)"
      [disabled]="dialogForm.invalid || dialogForm.untouched"
    >
      Add
    </button>
  </ng-container>
</div>
