<h1 style="text-align: center;" mat-dialog-title>{{ modalData.title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="dialogForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
      <mat-error>
        Please enter test subject's name
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surname" required/>
      <mat-error>
        Please enter test subject's surname
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="myDatepicker"
        formControlName="entryTime"
        id="entryTime"
        class="form-controls"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="myDatepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <label for="comment">Comment</label>
      <textarea
        matInput
        class="form-control"
        id="comment"
        formControlName="comment"
        rows="3"
      ></textarea>
    </mat-form-field>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input
          type="text"
          placeholder="Choose study"
          aria-label="Study"
          matInput
          formControlName="study"
          [matAutocomplete]="auto"
          required
        />
        <mat-error>
          Please assign test subject to study
        </mat-error>
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayFunction"
        >
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-group" *ngIf="filteredGroupOptions">
      <mat-form-field class="example-full-width">
        <input
          type="text"
          placeholder="Choose group"
          aria-label="Group"
          matInput
          formControlName="group"
          [matAutocomplete]="auto"
          required
        />
        <mat-error>
          Please assign test subject to a group
        </mat-error>
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayFunction"
        >
          <mat-option
            *ngFor="let option of filteredGroupOptions | async"
            [value]="option"
          >
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions style="justify-content: center;">
  <ng-container>
    <button
      mat-raised-button color="primary"
      (click)="onSubmit(dialogForm.value)"
      [disabled]="dialogForm.invalid || dialogForm.untouched"
    >
      Add test subject
    </button>
  </ng-container>
</div>
