<mat-toolbar color="primary" class="header mat-elevation-z4">
  <span class="text-center">{{ loadedStudy.name }} </span>
  <span class="filler"></span>
  <button mat-button aria-label="Add study button" (click)="openGroupModal()">
    Add group
  </button>
  <button mat-button aria-label="Add study button" (click)="openTaskModal()">
    Add task
  </button>
  <button mat-button [matMenuTriggerFor]="Menu">More...</button>
  <mat-menu #Menu="matMenu" yPosition="below">
    <button mat-menu-item (click)="openEditStudyDialog()">
      Edit study
    </button>
    <button mat-menu-item (click)="openDeleteStudyDialog()">
      Delete study
    </button>
  </mat-menu>
</mat-toolbar>

<div class="container" style="padding: 2%;">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Groups
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <ng-container *ngFor="let group of loadedStudy.groups">
          <mat-list-item>
            <a matLine routerLink="/groups/{{ group.id }}">{{ group.name }}</a>
            <button mat-icon-button (click)="onDeleteGroup(group.id)">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tasks
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <ng-container *ngFor="let task of loadedStudy.tasks">
          <mat-list-item>
            <a matLine routerLink="/tasks/{{ task.id }}">{{ task.name }}</a>
            <button mat-icon-button (click)="onDelete(task.id)">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>