
.container {
    margin-top: 2%;
  }

  header{
    position: fixed;
    top: 0;
    z-index: 11;
    /* transition: all 250ms ease-in-out; */
  }
  
.centered{
    height: 100px;
    width: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    top: 50%;
}

.float-right {
    float: right;
}

.position-relative {
    position: absolute;
}