.container {
    margin-top: 2%;
  }
  
.centered{
    height: 100px;
    width: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    top: 50%;
}

.float-right {
    float: right;
}

.position-relative {
    position: absolute;
}