body
{
    /*background-image: url('../styles/images/books-old-book-knowledge-bookstore-34592.jpg');
*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}