<mat-toolbar color="primary">
  <div style="padding: 8px 0 0 10px; flex: 1;">
    <span class="mat-title" style="margin-bottom: 2px;">Experiments</span>
  </div>
  <span class="filler"></span>
  <button mat-icon-button aria-label="Export data">
    <mat-icon>save_alt</mat-icon>
  </button>
</mat-toolbar>

<div class="container" style="margin-top: 3%;">
  <mat-grid-list cols="4" rowHeight="80px">
      <form class="example-form" [formGroup]="searchForm">
        <mat-grid-tile>
            <mat-form-field class="example-full-width" style="padding:2%;">
              <input type="text"
                    placeholder="Study"
                    aria-label="Study search"
                    matInput
                    formControlName="studySearch"
                    [matAutocomplete]="auto">
              <mat-autocomplete
                autoActiveFirstOption
                #auto="matAutocomplete"
                [displayWith]="displayFunction">
                <mat-option *ngFor="let option of filteredStudyOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
                <mat-paginator #studySearchPaginator
                          [length]="totalStudiesCount"
                          [pageSize]="5"
                          [pageSizeOptions]="[5,10]"
                          (page)="onPageFired($event)">
            </mat-paginator>
              </mat-autocomplete>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <input type="text"
                    placeholder="Group"
                    aria-label="Group filter"
                    matInput
                    formControlName="groupSearch"
                    [matAutocomplete]="autoGroup">
              <mat-autocomplete
                autoActiveFirstOption
                #autoGroup="matAutocomplete"
                [displayWith]="displayFunction">
                <mat-option *ngFor="let option of filteredGroupOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
                <mat-paginator #groupSearchPaginator
                          [length]="totalGroupsCount"
                          [pageSize]="5"
                          [pageSizeOptions]="[5, 10]"
                          (page)="onPageFiredGroup($event)">
            </mat-paginator>
              </mat-autocomplete>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <input type="text"
                    placeholder="Test subject"
                    aria-label="Search test subject"
                    matInput
                    formControlName="subjectSearch"
                    [matAutocomplete]="autoSubject">
              <mat-autocomplete
                autoActiveFirstOption
                #autoSubject="matAutocomplete"
                [displayWith]="displayFunction">
                <mat-option *ngFor="let option of filteredTestSubjectOptions | async" [value]="option">
                  {{option.name}} {{option.surname}}
                </mat-option>
                <mat-paginator #paginator [length]="totalSubjectsCount"
                          [pageSize]="5"
                          [pageSizeOptions]="[5, 10]"
                          (page)="onPageFiredSubject($event)">
            </mat-paginator>
              </mat-autocomplete>
            </mat-form-field>
          </mat-grid-tile>
      </form>
    
    <mat-grid-tile>
      <button mat-button>Search</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- <mat-form-field class="example-full-width">
  <input type="text"
         placeholder="Pick one"
         aria-label="Number"
         matInput
         formControlName="studySearch"
         [matAutocomplete]="auto">
  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    [displayWith]="displayFunction">
    <mat-option *ngFor="let option of filteredStudyOptions | async" [value]="option">
      {{option.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field> -->